.accessories-container {    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    justify-content: space-between;    
}

.accessories-container .accessory {
    width: 70%;
    margin-top: 4em;
}

.accessory img {
    width: auto;
    height: 10em;
}

.accessory-container > .message {
    grid-column: 1 / span 3;
    grid-row: 1;
    margin-top: 5em;    
}

@media only screen and (max-width: 870px) {  
    .accessories-container { 
        grid-template-columns: repeat(1, 1fr);
    }

    .accessories-container .laptop  {
        margin-top: 2em;
    }
}

@media only screen and (max-width: 500px) {  
    .accessories-container {
        margin-top: 3em;
    }
}