.accessories-container {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    justify-content: space-between;
}

.accessories-container .accessory {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    width: 70%;
    margin-top: 4em;    
}

.accessories-container section {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.accessory img {
    width: auto;
    height: 9em;
}

.accessory-container > .message {
    grid-column: 1 / span 3;
    grid-row: 1;
    margin-top: 5em;
}

.accessory .submit-btn {
    font-size: 2em;    
}

@media only screen and (max-width: 870px) {
    .accessories-container { 
        grid-template-columns: repeat(1, 1fr);
    }

    .accessories-container .accessory  {
        margin-top: 2em;
    }

    .accessories-container .accessory:first-child  {
        margin-top: 0;
    }
}

@media only screen and (max-width: 700px) {  
    .accessories-container, .accessory-details {
        margin-top: 14em;
    }        
}