.add-accessories {    
    left: 0; 
    right: 0;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

.add-accessories h1 {
    text-align: center;
}

.add-accessories-form {
    text-align: center;
    margin-top: 2em;
}


.add-accessories-form label {
    display: block;
}

.add-accessories-form .submit-btn {
    border-radius: 0.4em;
    background: rgb(154, 170, 243);
    color: #ffff;
    cursor: pointer;
    border: 0;
    padding: 0.4em 1.5em;
    margin-top: 1em;
}

@media only screen and (max-width: 440px) {  
    .add-accessories h1 {
        font-size: 1.3em;
    }
}