.checkouts-container {
    margin-top: 5em;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    justify-content: space-between;    
}

.checkouts-container section {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.checkout {
    color: inherit;
    text-decoration: none;
    margin-top: 4em;
    width: 40%;
}

.checkout-details {    
    margin: 0 auto;
}

.checkout img {
    width: auto;
    height: 9em;;
}

.message {
    text-align: center;
}

.checkout .complete-checkout-btn {
    border-radius: 0.4em;
    background: rgb(154, 170, 243);
    color: #ffff;
    cursor: pointer;
    border: 0;
    padding: 0.4em 1.5em;
    margin-top: 1em;    
}

@media only screen and (max-width: 1000px) {
    .checkouts-container { 
        grid-template-columns: repeat(1, 1fr);
    }

    .checkouts-container .checkout  {
        margin-top: 2em;
    }

    .checkouts-container .checkout:first-child  {
        margin-top: 0;
    }
}