.add-laptop {
    margin-top: 3em;
    left: 0; 
    right: 0;    
}

.add-laptop h1 {
    text-align: center;
}

.add-laptop-form {
    text-align: center;
    margin-top: 2em;
}

.add-laptop-form label {
    display: block;
}

.add-laptop-form .submit-btn {
    border-radius: 0.4em;
    background: rgb(154, 170, 243);
    color: #ffff;
    cursor: pointer;
    border: 0;
    padding: 0.4em 1.5em;
    margin-top: 1em;
}

@media only screen and (max-width: 440px) {  
    .add-laptop h1 {
        font-size: 1.3em;        
    }
}