.laptops-container {    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    justify-content: space-between;    
}

.laptops-container .laptop {
    width: 70%;
    margin-top: 4em;
}

.laptop img {
    width: auto;
    height: 10em;
}

.laptops-container > .message {
    grid-column: 1 / span 3;
    grid-row: 1;
    margin-top: 5em;    
}

@media only screen and (max-width: 870px) {  
    .laptops-container { 
        grid-template-columns: repeat(1, 1fr);
    }

    .laptops-container .laptop  {
        margin-top: 2em;
    }
}

@media only screen and (max-width: 500px) {  
    .laptops-container {
        margin-top: 3em;
    }
}