.laptops-container {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    justify-content: space-between;    
}

.laptops-container .laptop {
    cursor: pointer;
    width: 60%;
    margin: 0 auto;
    margin-top: 4em;
}

.laptop img {
    width: auto;
    height: 9em;
}

.laptops-container > .message {
    grid-column: 1 / span 3;
    grid-row: 1;
    margin-top: 5em;
}

@media only screen and (max-width: 870px) {  
    .laptops-container {
        grid-template-columns: repeat(1, 1fr);        
    }

    .laptops-container .laptop  {
        margin-top: 2em;
    }

    .laptops-container .laptop:first-child  {
        margin-top: 0;
    }
}

@media only screen and (max-width: 600px) {  
    .laptops-container {
        margin-top: 14em;
    }
}